rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow read access to all users for profile pictures
    match /Profile_Pictures/{allPaths=**} {
      allow read;
    }

    // Restrict write access to authenticated users
    match /{allPaths=**} {
      allow write;
    }
  }
}
